/* @media only screen and (min-width: 768px) {
  .col-4 {width: 33.33%;}
} */
.brand-logo{
  font-style: italic;
  /* font-weight: 500; */
  font-style: italic;
  font-family: cursive;
}
.cartIcon{
  color: whitesmoke !important;
  transform: translateY(10px);
}
.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
body{
  overflow-x: hidden !important;
  height: 600px !important;
  overflow-y: scroll !important;
  padding-right: 0px !important;
  background-color: #f1f3f6;
}
.card {
  width: 300px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400;
}

.cart {
  width: inherit;
  margin-top: 40px;
  padding-bottom: 50px;
  left: 0px;
}
.cart-details{
  width: 325px !important;
  padding: 10px 0px 10px 16px;
  height: fit-content;
}
.pay-btn{
  top: -9px;
  float: left;
  left: 58px;
}
.placeOrder-btn{
  width: 251px;
  top: 15px;
  float: right;
  right: 25px;
  background: #fb641b;
  height: 56px;
  font-size: 16px;
}
.placeOrder-btn:hover{
  background: #fb641b;
}
.collection .collection-product {
  display: flex;
  border-top: 1px solid #f0f0f0!important;
  padding: 15px;
}

.collection-product.avatar .title {
  display: block;
  font-size: 20px;
  font-weight: 500px;
  color: #ee6e73;
  margin-bottom: 20px;
}

.collection .collection-product img{
  width: 150px;
  margin-right: 25px;
}

.product-desc {
  align-self: center;
}

.checkout-form{
  margin: 145px 377px;
  width: 35%;
  padding: 14px;
  background-color: aliceblue;
}

.checkout-input{
  width: 300px;
}

.checkout-forminput:focus{
  border-bottom: 1px solid #82B1FF !important;
}
.checkout-card{
  /* box-shadow: gainsboro 0px 0px 10px 10px; */
  width: 100%;
  border: 1px solid;
}

.checkout-btn{
  width: 60% !important;
  margin-left: 120px !important;
  background-color: #82B1FF !important;
}
.bluesnap-btn{
  width: 45% !important;
  background-color: #82B1FF !important;
}
.modal-footer {
  text-align: center !important;
}
.order-card{
  width: 20% !important;
  margin-left: 1029px;
  margin-top: -786px;
}
.summary-card{
  background-color: aliceblue ;
  padding: 5px 10px 10px;
  margin-left: 10px;
}
.details-card{
  margin-top: 10px;
}
.dc{
    text-align: left;
    overflow-y: scroll;
    height: 491px;
}
.checkout-text{
  font-size: 20px !important;
}
.checkout-details{
  width: 150px;
  margin-left: 176px;
  margin-top: -73px;
  font-size: 11px;
}
nav-wrapper {
  overflow-y: hidden;
}
.pd-card{
  height: fit-content;
  float: left;
  top: 94px;
  /* border-radius: 48px; */
  left: 25px;
}
.pd-container{
  margin-right: 194px !important;
}
.pd-header{
  font-size: 20px;
  padding: 42px 0px 10px 25px;
  border-bottom: 1px solid #E6EAFF;
}
.pd-accordian{
   width: 250px;
   margin-left: 25px;
   margin-top: 15px;
   padding-bottom: 41px;
}
.accordian-main{
  margin-top: 15px;
  padding: 10px;
}
.pd-typography{
  font-size: 15px;
}
.MuiAccordion-rounded {
  border-radius: 0;
  padding: 5px !important;
}
.MuiAccordionDetails-root {
  display: table-caption !important;
  padding: 8px 16px 16px;
}
.MuiTypography-body1{
  color: black;
}
.now-wrap{
  white-space: nowrap;
}
._3879cV{
  vertical-align: middle;
  font-size: 14px;
  padding-left: var(--checkbox-label-margin-left);
  color: var(--color-grey-grade5);
  display: inline-block;
  width: calc(100% - var(--checkbox-side) - var(--checkbox-label-margin-left));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  cursor: pointer;
}
._27Q4lz {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  vertical-align: bottom;
  border: 1px solid rgba(0,0,0,.1);
}
._33QaMY{
  margin-left: 7px;
}
.mr-2{
  margin-right: 2px !important;
}
.cart > h5{
  font-size: 18px;
  line-height: 56px;
  padding: 0 24px;
  font-weight: 500;
}
.cart-container{
  display: flex;
  justify-content: space-between;
}
.price-details{
  border-top: 1px solid #f0f0f0!important;
  padding: 15px;
}
.cart-details > h6
{
  color: #878787 !important;
}
.next{
  width: 750px;
  left: 40px !important;
  margin-top: 20px;
}
.mt{
  margin-top: 45px !important;
}
.mt-2{
  margin-top: 20px !important;
}
.next-display > h5{
  color: #878787 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 6px;
}
.next-display{
  display: flex;
}
.check{
  font-size: 20px !important;
  color: blue;
  margin: -2px ;
}
.count{
  font-size: 12px;
  color: #2874f0;
  background-color: #f0f0f0;
  border-radius: 2px;
  padding: 3px 7px;
  vertical-align: baseline;
  margin-right: 17px;
  margin: 18px;
}
.name{
  color: #212121;
  font-weight: 500;
  margin-left: 55px;
}
.success{
  position: absolute;
  top: 100px;
  left: 36%;
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
  border-color: #badbcc !important;
}

.menu-button{
  background-color: transparent !important;
  color: white! important;
  padding: 5px! important;
  font-size: 16px! important;
  cursor: pointer! important;
}

/* .right-menu{
  position: relative! important;
  display: inline-block! important;
  float: right! important;
} */
.dropdown-menu{
  display: none! important;
  position: absolute! important;
  background-color: white! important;
  min-width: 160px! important;
  z-index: 1! important;
  color: black;
  text-align: center !important;
}
.dropdown-menu a:hover{
  background-color: #000 !important;
  color: #fff! important;
}

.right-menu:hover .dropdown-menu{
  display: block! important;
}

/* .payment-btn{
  display: inline-grid;
}
 .modal{
  width: 40%;
}
.bluesnap-form{
  margin: 0 15px;
}
.cross-button{
  width: 30px;
  height: 30px;
  float: right;
  background: #82B1FF;
  border-radius: 50%;
  margin-top: -33px;
}
.cross{
  margin: -3px;
}
.cross-button:hover{
  background: #82B1FF !important;
} */

/* .menu-area li:hover{
  background-color: rgba(0,0,0,0.1);
}
.menu-area > ul{
  list-style: none;
  padding: 0;
  margin: 14px;
  display: inline-block;
  background-color: #82B1FF;
  color: black;
}
.menu-area > ul > li {
  position: relative;
  cursor: pointer;
  font-family: poppins;
  font-size: 14px;
  letter-spacing: 1px;
  float: left;
  width: 136px;
  height: 50px;
  line-height: 50px;
} */
 /* .dropdown{
  position: absolute;
  padding: 0;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: 1px 2px 7px 1px grey;
  z-index: 1;
}

.dropdown li{
  background: white;
  width: inherit;
  display: none;
}
.dropdown li :hover{
  background-color: aliceblue !important;
}
.menu-area li:hover >.dropdown li{
  display: block;
} */
/*
.menu-area li:hover >.dropdown {
  perspective: 1000px;
}
.menu-area li:hover >.dropdown li{
  transform-origin: top center;
  opacity: 0;
}
.menu-area li:hover >.dropdown li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
} */
