.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
body{
  overflow-x: hidden !important;
  height: 700px !important;
  overflow-y: scroll !important;
}
.card {
  width: 300px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400;
}

.cart {
  margin-top: 40px;
}

.collection .collection-product {
  display: flex;
}

.collection-product.avatar .title {
  display: block;
  font-size: 20px;
  font-weight: 500px;
  color: #ee6e73;
  margin-bottom: 20px;
}

.collection .collection-product img{
  width: 150px;
  margin-right: 25px;
}

.product-desc {
  align-self: center;
}

.checkout-form{
  margin: 145px 377px;
  width: 35%;
  padding: 14px;
  background-color: aliceblue;
}

.checkout-input{
  width: 300px;
}

.checkout-card{
  /* box-shadow: gainsboro 0px 0px 10px 10px; */
  width: 100%;
  border: 1px solid;
}

.checkout-btn{
  width: 60% !important;
  margin-left: 120px !important;
  background-color: #82B1FF !important;
}
.order-card{
  width: 20% !important;
  margin-left: 1029px;
  margin-top: -635px;
}
.summary-card{
  background-color: aliceblue ;
  padding: 5px 10px 10px;
  margin-left: 10px;
}
.details-card{
  margin-top: 10px;
}
.dc{
    text-align: left;
    overflow-y: scroll;
    height: 339px;
}
.checkout-text{
  font-size: 20px !important;
}
.checkout-details{
  width: 150px;
  margin-left: 176px;
  margin-top: -73px;
  font-size: 11px;
}
nav-wrapper {
  overflow-y: hidden;
}